<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.gree.greecloud"
    android:sharedUserId="android.uid.system"
    android:versionCode="14"
    android:versionName="3.0.14_180712">

    <!-- 允许应用程序读取或写入安全系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <!-- 同步适配器权限 -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.WRITE_SOCIAL_STREAM" />

    <!-- 通用网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 开机启动，以及插入短信的APP状态改变 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />

    <!-- 短信读写权限  动态权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <!-- 日历读写权限 动态权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- 联系人读写权限  动态权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 账号相关权限  动态权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- 文件读写权限 动态权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 读取手机信息 动态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.gree.provider.account.user.read" />

    <uses-permission android:name="com.gree.findMobile.IS_OPEN" />

    <permission
        android:name="com.gree.greecloud.sync.wifi"
        android:label="greecloud wifi"
        android:protectionLevel="normal" />

    <application
        android:name=".CloudApplication"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@drawable/ic_launcher"
        android:killAfterRestore="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 同步相关组件 -->

        <activity
            android:name=".sync.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_sync_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sync.activity.OtherActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 添加账户到系统service -->
        <service
            android:name=".account.service.AuthenticationService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service android:name=".account.service.AccountStateService"></service>

        <receiver
            android:name=".account.service.BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- 联系人同步 -->
        <service
            android:name=".sync.service.ContactSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/contact_syncadapter" />
        </service>
        <!-- 短信人同步 -->
        <service
            android:name=".sync.service.SmsSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sms_syncadapter" />
        </service>
        <!-- 日历人同步 -->
        <service
            android:name=".sync.service.CalendarSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/calendar_syncadapter" />
        </service>

        <!-- wifi同步 -->
        <service
            android:name=".sync.service.WifiSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/wifi_syncadapter" />
        </service>

        <provider
            android:name=".sync.data.WifiUserProvider"
            android:authorities="com.gree.greecloud.sync.wifi"
            android:label="wifi"
            android:permission="com.gree.greecloud.sync.wifi"
            android:syncable="true" />

        <receiver android:name=".sync.activity.WifiStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>